.container{text-align: center;
margin : 30px 0px 0px 10px}
.todo-input{
    width: 50%;
    text-align: center;
    height: 25px;
    border: none;
    font-size: 20pt;
    padding: 5px;
    &:hover {
        border: 3px solid #E5E7E9;
        height: 19px;
        border-radius: 10px;
        outline: none;
      }
      &:focus {
        border: 3px solid #555;
        height: 19px;
        border-radius: 10px;
        outline: none;
    }
}


.containerCountOfTasks{
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-style: normal;
    font-size: 20pt;
}



