.container{text-align: center;
margin : 30px 0px 0px 10px}
.todo-input{
    width: 50%;
    text-align: center;
    height: 25px;
    border: none;
    font-size: 20pt;
    padding: 5px;
    &:hover {
        border: 3px solid #E5E7E9;
        height: 19px;
        border-radius: 10px;
        outline: none;
      }
      &:focus {
        border: 3px solid #555;
        height: 19px;
        border-radius: 10px;
        outline: none;
    }
}
.containerList{
    width: 50%;
    padding: 5px;
    background: #F4D03F  ;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    &:hover{background: #F7DC6F; }
}
.input{ display: inline-block;
    float: left;
    
}
.todo-item-label{
    display: inline-block;
    
    
}
i.material-icons {
    display: inline-block;
    float: right;
   
    &:hover{
        
        color: red;
    }
  
}
.containerFor{
  
    text-align: center;
}
.todo-item-edit{
    padding: 4px;
    border-radius: 10px;
    background: #F4D03F;
    &:hover {
        border: 3px solid #E5E7E9;
        border-radius: 10px;
        outline: none;
      }
      &:focus {
        border: 3px solid #555;
        border-radius: 10px;
        outline: none;
    }
}



